/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorPine2 {
	background-color: #d9d9d9;
	}

.FormTitleBgColorPine2 {
	background-color: #3c964b;
	}

.FormTitleFontColorPine2 {
	color: #ffffff;
	}

.CaptionBgColorPine2 {
	background-color: #cccccc;
	}

.CaptionFontColorPine2 {
	color: #000000;
	}

.DataBgColorPine2 {
	background-color: #f7f7f7;
	}

.AltDataBgColorPine2 {
	background-color: #ebebeb;
	}

.DataFontColorPine2 {
	color: #000000;
	}

.LinkColorPine2 {
	color: #004000;
	}

.VisitedLinkColorPine2 {
	color: #006f00;
	}

.HoverLinkColorPine2 {
	color: #004000;
	}

.ColorBgButtonPine2 {
	background-color: #3c964b;
}

.ColorFontButtonPine2 {
	color: #ffffff;
}

.ColorBgButtonPassivePine2 {
	background-color: #86d293;
}

.ColorFontButtonPassivePine2 {
	color: #ffffff;
}



.HeaderPine2 {
	width: 100%;
	}

.HeaderPine2 th { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: left;
	padding: 4px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
	
	}



/*ie6*/
* html body .HeaderPine2 th {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: left;
}
/*end*/

.HeaderPine2 a:link { 
	color: #ffffff;
	}

.HeaderPine2 a:visited { 
	color: #ffffff;
	}

.HeaderPine2 a:hover, .CaptionPine2 a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftPine2 { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightPine2 { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftPine2 img{
	width: 12px;
	}

.HeaderRightPine2 img{
	width: 12px;
	}


/* Grid Options */
.GridPine2 { 
	border-left: 1px solid #3c964b; border-bottom: 1px solid #3c964b;
	width: 100%;
	}

.CaptionPine2 th { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}

.CaptionPine2 td { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}



/*ie6*/
* html body .CaptionPine2 th, * html body .CaptionPine2 td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.CaptionPine2 a:link { 
	color: #000000;
	}

.CaptionPine2 a:visited { 
	color: #000000;
	}

.CaptionPine2 a:hover, .CaptionPine2 a:active { 
	color: #004000;
	}

.CaptionPine2 img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionPine2 input {
	vertical-align: middle;
	}

.RowPine2 th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.RowPine2 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}
	


/*ie6*/
* html body .RowPine2 th, * html body .RowPine2 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

caption.RowPine2 { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #3c964b; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}



/*ie6*/
* html body caption.RowPine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.RowPine2 a:link { 
	color: #004000;
	}

.RowPine2 a:visited { 
	color: #006f00;
	}

.RowPine2 a:hover, .RowPine2 a:active { 
	color: #004000;
	}

.SeparatorPine2{
	color: #3c964b;
	}

.SeparatorPine2 td{
	height: 1px;
	}


.AltRowPine2 th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRowPine2 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	vertical-align: top;
	background-color: #ebebeb; 
	color: #000000;
	}



/*ie6*/
* html body .AltRowPine2 th, * html body .AltRowPine2 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.AltRowPine2 a:link { 
	color: #004000;
	}

.AltRowPine2 a:visited { 
	color: #006f00;
	}

.AltRowPine2 a:hover, .AltRowPine2 a:active { 
	color: #004000;
	}

.NoRecordsPine2 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	background-color: #f7f7f7; 
	color: #000000;
	vertical-align: top;
	}

.FooterPine2 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .NoRecordsPine2 td, * html body .FooterPine2 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.FooterPine2 a:link { 
	color: #004000;
	}

.FooterPine2 a:visited { 
	color: #006f00;
	}

.FooterPine2 a:hover, .FooterPine2 a:active { 
	color: #004000;
	}

.FooterPine2 img {
	border: 0px;
	margin: 2px; 
	vertical-align: middle;
	}

.FooterPine2 input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordPine2 { 
	border-left: 1px solid #3c964b; border-bottom: 1px solid #3c964b;
	width: 100%;
	}

.ErrorPine2 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f7f7; 
	}



/*ie6*/
* html body .ErrorPine2 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.ControlsPine2 th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.ControlsPine2 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}

.ControlsPine2 .CaptionPine2 th {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	font-weight: bold;
	white-space: nowrap;
	}	
.BottomPine2 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .ControlsPine2 th, * html body .ControlsPine2 td, * html body .BottomPine2 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.BottomPine2 a:link { 
	color: #004000;
	}

.BottomPine2 a:visited { 
	color: #006f00;
	}

.BottomPine2 a:hover, .CaptionPine2 a:active { 
	color: #004000;
	}

.BottomPine2 img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomPine2 input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionPine2 th{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #ebebeb; 
	color: #000000;
	}

.GroupCaptionPine2 td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f7f7; 
	color: #000000;
	}



/*ie6*/
* html body .GroupCaptionPine2 th, * html body .GroupCaptionPine2 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupCaptionPine2 a:link {
	color: #000000;
	}

.GroupCaptionPine2 a:visited{
	color: #000000;
	}

.GroupCaptionPine2 a:hover, .GroupCaptionPine2 a:active{
	color: #004000;
	}

.GroupFooterPine2 td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #cccccc; 
	color: #000000;
	}



/*ie6*/
* html body .GroupFooterPine2 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupFooterPine2 a:link {
	color: #004000;
	}

.GroupFooterPine2 a:visited{
	color: #006f00;
	}

.GroupFooterPine2 a:hover, .GroupFooterPine2 a:active{
	color: #004000;
	}

.GroupFooterPine2 img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterPine2 input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalPine2 td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #ebebeb; 
	color: #000000;
	border-bottom: 2px solid #3c964b;
	}



/*ie6*/
* html body .SubTotalPine2 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.SubTotalPine2 a:link {
	color: #004000;
	}

.SubTotalPine2 a:visited{
	color: #006f00;
	}

.SubTotalPine2 a:hover, .SubTotalPine2 a:active{
	color: #004000;
	}

.TotalPine2 td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #ebebeb; 
	color: #000000;
	}



/*ie6*/
* html body .TotalPine2 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.TotalPine2 a:link {
	color: #004000;
	}

.TotalPine2 a:visited{
	color: #006f00;
	}

.TotalPine2 a:hover, .TotalPine2 a:active{
	color: #004000;
	}

/* Form Options */
.ButtonPine2 { 
	background-color: #3c964b; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Tahoma; font-size: 11px; font-weight: bold;
	}

/* Calendar */

.CalendarPine2 { 
	border: 1px solid #3c964b;
	width: 100%;
	}

.CalendarWeekdayNamePine2{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #ebebeb; 
	color: #000000;
	font-weight: normal;
	}



/*ie6*/
* html body .CalendarWeekdayNamePine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekdayNamePine2 a:link {
	color: #004000;
	}

.CalendarWeekdayNamePine2 a:visited{
	color: #006f00;
	}

.CalendarWeekdayNamePine2 a:hover, .CalendarWeekdayNamePine2 a:active{
	color: #004000;
	}

.CalendarWeekendNamePine2{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #ebebeb;	
	color: #000000;
	font-weight: normal;
	}



/*ie6*/
* html body .CalendarWeekendNamePine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendNamePine2 a:link {
	color: #000000;
	}

.CalendarWeekendNamePine2 a:visited{
	color: #000000;
	}

.CalendarWeekendNamePine2 a:link, .CalendarWeekendNamePine2 a:visited{
	color: #004000;
	}

/* Calendar Day */
.CalendarDayPine2{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: center;
	background-color: #f7f7f7;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarDayPine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarDayPine2 a:link {
	color: #004000;
	}

.CalendarDayPine2 a:visited{
	color: #006f00;
	}

.CalendarDayPine2 a:hover, .CalendarDayPine2 a:active{
	color: #004000;
	}

/* Calendar Weekend */
.CalendarWeekendPine2{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: center;
	background-color: #ebebeb;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarWeekendPine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendPine2 a:link {
	color: #004000;
	}

.CalendarWeekendPine2 a:visited{
	color: #006f00;
	}

.CalendarWeekendPine2 a:hover, .CalendarWeekendPine2 a:active{
	color: #004000;
	}

/* Calendar Today */
.CalendarTodayPine2 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 3px solid #3c964b; border-right: 3px solid #3c964b; border-left: 2px solid #3c964b; border-bottom: 2px solid #3c964b;
	text-align: center;
	background-color: #f7f7f7;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarTodayPine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarTodayPine2 a:link {
	color: #004000;
	}

.CalendarTodayPine2 a:visited{
	color: #006f00;
	}

.CalendarTodayPine2 a:hover, .CalendarTodayPine2 a:active {
	color: #004000;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayPine2 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 3px solid #3c964b; border-right: 3px solid #3c964b; border-left: 2px solid #3c964b; border-bottom: 2px solid #3c964b;
	text-align: center;
	background-color: #ebebeb;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarWeekendTodayPine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendTodayPine2 a:link {
	color: #004000;
	}

.CalendarWeekendTodayPine2 a:visited{
	color: #006f00;
	}

.CalendarWeekendTodayPine2 a:hover, .CalendarWeekendTodayPine2 a:active{
	color: #004000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayPine2{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: center;
	background-color: #f7f7f7;	
	color: #3c964b;
	}



/*ie6*/
* html body .CalendarOtherMonthDayPine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthDayPine2 a:link {
	color: #3c964b;
	}

.CalendarOtherMonthDayPine2 a:visited{
	color: #3c964b;
	}

.CalendarOtherMonthDayPine2 a:hover, .CalendarOtherMonthDayPine2 a:active{
	color: #004000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayPine2 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 3px solid #3c964b; border-right: 3px solid #3c964b; border-left: 2px solid #3c964b; border-bottom: 2px solid #3c964b;
	text-align: center;
	background-color: #f7f7f7;	
	color: #3c964b;
	}



/*ie6*/
* html body .CalendarOtherMonthTodayPine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthTodayPine2 a:link {
	color: #3c964b;
	}

.CalendarOtherMonthTodayPine2 a:visited{
	color: #3c964b;
	}

.CalendarOtherMonthTodayPine2 a:hover, .CalendarOtherMonthTodayPine2 a:active{
	color: #004000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendPine2 {
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: center;
	background-color: #ebebeb;	
	color: #3c964b;
	}



/*ie6*/
* html body .CalendarOtherMonthWeekendPine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendPine2 a:link {
	color: #3c964b;
	}

.CalendarOtherMonthWeekendPine2 a:visited{
	color: #3c964b;
	}

.CalendarOtherMonthWeekendPine2 a:hover, .CalendarOtherMonthWeekendPine2 a:active{
	color: #004000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayPine2 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 3px solid #3c964b; border-right: 3px solid #3c964b; border-left: 2px solid #3c964b; border-bottom: 2px solid #3c964b;
	text-align: center;
	color: #3c964b;
	background-color: #ebebeb;	
	}
	


/*ie6*/
* html body .CalendarOtherMonthWeekendTodayPine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendTodayPine2 a:link {
	color: #3c964b;
	}

.CalendarOtherMonthWeekendTodayPine2 a:visited{
	color: #3c964b;
	}

.CalendarOtherMonthWeekendTodayPine2 a:hover, .CalendarOtherMonthWeekendTodayPine2 a:active{
	color: #004000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayPine2{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #cccccc;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	


/*ie6*/
* html body .CalendarSelectedDayPine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarSelectedDayPine2 a:link {
	color: #000000;
	}

.CalendarSelectedDayPine2 a:visited{
	color: #000000;
	}

.CalendarSelectedDayPine2 a:hover, .CalendarSelectedDayPine2 a:active{
	color: #004000;
	}

/* Calendar Navigator */
.CalendarNavigatorPine2 {
	font-family: Arial; font-size: 80%;
	padding: 4px;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .CalendarNavigatorPine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarNavigatorPine2 a:link {
	color: #004000;
	}

.CalendarNavigatorPine2 a:visited{
	color: #006f00;
	}

.CalendarNavigatorPine2 a:hover, .CalendarNavigatorPine2 a:active{
	color: #004000;
	}

.CalendarNavigatorPine2 img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorPine2 td {
	font-family: Arial; font-size: 80%;
	}

.CalendarNavigatorPine2 th {
	font-family: Arial; font-size: 80%;
	}



/*ie6*/
* html body .CalendarNavigatorPine2 th, * html body .CalendarNavigatorPine2 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

/* Calendar Extra */
.CalendarEventPine2{
	font-family: Arial; font-size: 80%;
	text-align: left;
	}



/*ie6*/
* html body .CalendarEventPine2 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarEventPine2 a:link {
	color: #004000;
	}

.CalendarEventPine2 a:visited{
	color: #006f00;
	}

.CalendarEventPine2 a:hover, .CalendarEventPine2 a:active{
	color: #004000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thPine2 { 
	font-family: Arial; font-size: 80%;
	font-weight: bold;
}



/*ie6*/
* html body .thPine2 {
	font-size: 100%;
}
/*end*/

.HeaderPine2 .thPine2 { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: left;
	padding: 4px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
}



/*ie6*/
* html body .HeaderPine2 .thPine2 {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: left;
}
/*end*/

.CaptionPine2 .thPine2 { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
}



/*ie6*/
* html body .CaptionPine2 .thPine2 {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.RowPine2 .thPine2 { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRowPine2 .thPine2 { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.ControlsPine2 .thPine2 { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaptionPine2 .thPine2 {
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #ebebeb; 
	color: #000000;
}



/*ie6*/
* html body .GroupCaptionPine2 .thPine2 {
	font-family: Arial; font-size: 100%;
}

* html body .RowPine2 .thPine2, * html body .AltRowPine2 .thPine2, * html body .ControlsPine2 .thPine2 {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenuPine2 td {
	font-family: Arial; font-size: 80%;
}



/*ie6*/
* html body .simpleMenuPine2 td {
	font-family: Arial; font-size: 100%;
} 
/*end*/

.SorterPine2 img, .NavigatorPine2 img {
	border:0;
}

.MainTable .HeaderPine2 img, .MainTable .HeaderPine2 td {
	padding-left: 0;padding-right: 0;margin:0;
}