/* CCSTheme v 3.x */
/* General */

/* Colors */
.PageBgColorPine1 {
	background-color: #d9d9d9;
	}

.FormTitleBgColorPine1 {
	background-color: #3c964b;
	}

.FormTitleFontColorPine1 {
	color: #ffffff;
	}

.CaptionBgColorPine1 {
	background-color: #cccccc;
	}

.CaptionFontColorPine1 {
	color: #000000;
	}

.DataBgColorPine1 {
	background-color: #f7f7f7;
	}

.AltDataBgColorPine1 {
	background-color: #ebebeb;
	}

.DataFontColorPine1 {
	color: #000000;
	}

.LinkColorPine1 {
	color: #0033cc;
	}

.VisitedLinkColorPine1 {
	color: #840084;
	}

.HoverLinkColorPine1 {
	color: #ff0000;
	}

.ColorBgButtonPine1 {
	background-color: #3c964b;
}

.ColorFontButtonPine1 {
	color: #ffffff;
}

.ColorBgButtonPassivePine1 {
	background-color: #86d293;
}

.ColorFontButtonPassivePine1 {
	color: #ffffff;
}



.HeaderPine1 {
	width: 100%;
	}

.HeaderPine1 th { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: left;
	padding: 4px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
	
	}



/*ie6*/
* html body .HeaderPine1 th {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: left;
}
/*end*/

.HeaderPine1 a:link { 
	color: #ffffff;
	}

.HeaderPine1 a:visited { 
	color: #ffffff;
	}

.HeaderPine1 a:hover, .CaptionPine1 a:active { 
	color: #ffffff; text-decoration: none;
	}

.HeaderLeftPine1 { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRightPine1 { 
	background-image: url('Images/HeaderRight.gif');
	background-position: right top;
	}

.HeaderLeftPine1 img{
	width: 12px;
	}

.HeaderRightPine1 img{
	width: 12px;
	}


/* Grid Options */
.GridPine1 { 
	border-left: 1px solid #3c964b; border-bottom: 1px solid #3c964b;
	width: 100%;
	}

.CaptionPine1 th { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}

.CaptionPine1 td { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}



/*ie6*/
* html body .CaptionPine1 th, * html body .CaptionPine1 td {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.CaptionPine1 a:link { 
	color: #000000;
	}

.CaptionPine1 a:visited { 
	color: #000000;
	}

.CaptionPine1 a:hover, .CaptionPine1 a:active { 
	color: #ff0000;
	}

.CaptionPine1 img {
	margin: 2px; 
	vertical-align: middle;
	}

.CaptionPine1 input {
	vertical-align: middle;
	}

.RowPine1 th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.RowPine1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}
	


/*ie6*/
* html body .RowPine1 th, * html body .RowPine1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

caption.RowPine1 { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border: 1px solid #3c964b; border-bottom: 0px;
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}



/*ie6*/
* html body caption.RowPine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.RowPine1 a:link { 
	color: #0033cc;
	}

.RowPine1 a:visited { 
	color: #840084;
	}

.RowPine1 a:hover, .RowPine1 a:active { 
	color: #ff0000;
	}

.SeparatorPine1{
	color: #3c964b;
	}

.SeparatorPine1 td{
	height: 1px;
	}


.AltRowPine1 th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRowPine1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	vertical-align: top;
	background-color: #ebebeb; 
	color: #000000;
	}



/*ie6*/
* html body .AltRowPine1 th, * html body .AltRowPine1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.AltRowPine1 a:link { 
	color: #0033cc;
	}

.AltRowPine1 a:visited { 
	color: #840084;
	}

.AltRowPine1 a:hover, .AltRowPine1 a:active { 
	color: #ff0000;
	}

.NoRecordsPine1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	background-color: #f7f7f7; 
	color: #000000;
	vertical-align: top;
	}

.FooterPine1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .NoRecordsPine1 td, * html body .FooterPine1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.FooterPine1 a:link { 
	color: #0033cc;
	}

.FooterPine1 a:visited { 
	color: #840084;
	}

.FooterPine1 a:hover, .FooterPine1 a:active { 
	color: #ff0000;
	}

.FooterPine1 img {
	border: 0px;
	margin: 2px; 
	vertical-align: middle;
	}

.FooterPine1 input {
	margin: 2px;
	vertical-align: middle;
	}

/* Record Options */
.RecordPine1 { 
	border-left: 1px solid #3c964b; border-bottom: 1px solid #3c964b;
	width: 100%;
	}

.ErrorPine1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f7f7; 
	}



/*ie6*/
* html body .ErrorPine1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.ControlsPine1 th { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.ControlsPine1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	vertical-align: top;
	background-color: #f7f7f7; 
	color: #000000;
	}

.ControlsPine1 .CaptionPine1 th {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	font-weight: bold;
	white-space: nowrap;
	}	
.BottomPine1 td { 
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .ControlsPine1 th, * html body .ControlsPine1 td, * html body .BottomPine1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.BottomPine1 a:link { 
	color: #0033cc;
	}

.BottomPine1 a:visited { 
	color: #840084;
	}

.BottomPine1 a:hover, .CaptionPine1 a:active { 
	color: #ff0000;
	}

.BottomPine1 img {
	margin: 2px;
	vertical-align: middle; 
	}

.BottomPine1 input {
	margin: 2px;
	vertical-align: middle;
	}

/* Report */
.GroupCaptionPine1 th{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #ebebeb; 
	color: #000000;
	}

.GroupCaptionPine1 td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #f7f7f7; 
	color: #000000;
	}



/*ie6*/
* html body .GroupCaptionPine1 th, * html body .GroupCaptionPine1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupCaptionPine1 a:link {
	color: #000000;
	}

.GroupCaptionPine1 a:visited{
	color: #000000;
	}

.GroupCaptionPine1 a:hover, .GroupCaptionPine1 a:active{
	color: #ff0000;
	}

.GroupFooterPine1 td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #cccccc; 
	color: #000000;
	}



/*ie6*/
* html body .GroupFooterPine1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.GroupFooterPine1 a:link {
	color: #0033cc;
	}

.GroupFooterPine1 a:visited{
	color: #840084;
	}

.GroupFooterPine1 a:hover, .GroupFooterPine1 a:active{
	color: #ff0000;
	}

.GroupFooterPine1 img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooterPine1 input {
	margin: 2px;
	vertical-align: middle;
	}

.SubTotalPine1 td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	background-color: #ebebeb; 
	color: #000000;
	border-bottom: 2px solid #3c964b;
	}



/*ie6*/
* html body .SubTotalPine1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.SubTotalPine1 a:link {
	color: #0033cc;
	}

.SubTotalPine1 a:visited{
	color: #840084;
	}

.SubTotalPine1 a:hover, .SubTotalPine1 a:active{
	color: #ff0000;
	}

.TotalPine1 td{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #ebebeb; 
	color: #000000;
	}



/*ie6*/
* html body .TotalPine1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

.TotalPine1 a:link {
	color: #0033cc;
	}

.TotalPine1 a:visited{
	color: #840084;
	}

.TotalPine1 a:hover, .TotalPine1 a:active{
	color: #ff0000;
	}

/* Form Options */
.ButtonPine1 { 
	background-color: #3c964b; color: #ffffff; border-left: solid 1px #EDEDED; border-top: solid 1px #EDEDED; border-right: solid 1px #848284; border-bottom: solid 1px #848284; padding: 2px; font-weight: bold; font-family: Tahoma; font-size: 11px; font-weight: bold;
	}

/* Calendar */

.CalendarPine1 { 
	border: 1px solid #3c964b;
	width: 100%;
	}

.CalendarWeekdayNamePine1{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #ebebeb; 
	color: #000000;
	font-weight: normal;
	}



/*ie6*/
* html body .CalendarWeekdayNamePine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekdayNamePine1 a:link {
	color: #0033cc;
	}

.CalendarWeekdayNamePine1 a:visited{
	color: #840084;
	}

.CalendarWeekdayNamePine1 a:hover, .CalendarWeekdayNamePine1 a:active{
	color: #ff0000;
	}

.CalendarWeekendNamePine1{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #ebebeb;	
	color: #000000;
	font-weight: normal;
	}



/*ie6*/
* html body .CalendarWeekendNamePine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendNamePine1 a:link {
	color: #000000;
	}

.CalendarWeekendNamePine1 a:visited{
	color: #000000;
	}

.CalendarWeekendNamePine1 a:link, .CalendarWeekendNamePine1 a:visited{
	color: #ff0000;
	}

/* Calendar Day */
.CalendarDayPine1{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: center;
	background-color: #f7f7f7;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarDayPine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarDayPine1 a:link {
	color: #0033cc;
	}

.CalendarDayPine1 a:visited{
	color: #840084;
	}

.CalendarDayPine1 a:hover, .CalendarDayPine1 a:active{
	color: #ff0000;
	}

/* Calendar Weekend */
.CalendarWeekendPine1{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: center;
	background-color: #ebebeb;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarWeekendPine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendPine1 a:link {
	color: #0033cc;
	}

.CalendarWeekendPine1 a:visited{
	color: #840084;
	}

.CalendarWeekendPine1 a:hover, .CalendarWeekendPine1 a:active{
	color: #ff0000;
	}

/* Calendar Today */
.CalendarTodayPine1 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 3px solid #3c964b; border-right: 3px solid #3c964b; border-left: 2px solid #3c964b; border-bottom: 2px solid #3c964b;
	text-align: center;
	background-color: #f7f7f7;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarTodayPine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarTodayPine1 a:link {
	color: #0033cc;
	}

.CalendarTodayPine1 a:visited{
	color: #840084;
	}

.CalendarTodayPine1 a:hover, .CalendarTodayPine1 a:active {
	color: #ff0000;
	}

/* Calendar Weekend Today */
.CalendarWeekendTodayPine1 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 3px solid #3c964b; border-right: 3px solid #3c964b; border-left: 2px solid #3c964b; border-bottom: 2px solid #3c964b;
	text-align: center;
	background-color: #ebebeb;	
	color: #000000;
	}



/*ie6*/
* html body .CalendarWeekendTodayPine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarWeekendTodayPine1 a:link {
	color: #0033cc;
	}

.CalendarWeekendTodayPine1 a:visited{
	color: #840084;
	}

.CalendarWeekendTodayPine1 a:hover, .CalendarWeekendTodayPine1 a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDayPine1{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: center;
	background-color: #f7f7f7;	
	color: #3c964b;
	}



/*ie6*/
* html body .CalendarOtherMonthDayPine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthDayPine1 a:link {
	color: #3c964b;
	}

.CalendarOtherMonthDayPine1 a:visited{
	color: #3c964b;
	}

.CalendarOtherMonthDayPine1 a:hover, .CalendarOtherMonthDayPine1 a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthTodayPine1 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 3px solid #3c964b; border-right: 3px solid #3c964b; border-left: 2px solid #3c964b; border-bottom: 2px solid #3c964b;
	text-align: center;
	background-color: #f7f7f7;	
	color: #3c964b;
	}



/*ie6*/
* html body .CalendarOtherMonthTodayPine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthTodayPine1 a:link {
	color: #3c964b;
	}

.CalendarOtherMonthTodayPine1 a:visited{
	color: #3c964b;
	}

.CalendarOtherMonthTodayPine1 a:hover, .CalendarOtherMonthTodayPine1 a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekendPine1 {
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: center;
	background-color: #ebebeb;	
	color: #3c964b;
	}



/*ie6*/
* html body .CalendarOtherMonthWeekendPine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendPine1 a:link {
	color: #3c964b;
	}

.CalendarOtherMonthWeekendPine1 a:visited{
	color: #3c964b;
	}

.CalendarOtherMonthWeekendPine1 a:hover, .CalendarOtherMonthWeekendPine1 a:active{
	color: #ff0000;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendTodayPine1 {
	font-family: Arial; font-size: 80%;
	padding: 2px;
	border-top: 3px solid #3c964b; border-right: 3px solid #3c964b; border-left: 2px solid #3c964b; border-bottom: 2px solid #3c964b;
	text-align: center;
	color: #3c964b;
	background-color: #ebebeb;	
	}
	


/*ie6*/
* html body .CalendarOtherMonthWeekendTodayPine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarOtherMonthWeekendTodayPine1 a:link {
	color: #3c964b;
	}

.CalendarOtherMonthWeekendTodayPine1 a:visited{
	color: #3c964b;
	}

.CalendarOtherMonthWeekendTodayPine1 a:hover, .CalendarOtherMonthWeekendTodayPine1 a:active{
	color: #ff0000;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDayPine1{
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #cccccc;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}
	


/*ie6*/
* html body .CalendarSelectedDayPine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarSelectedDayPine1 a:link {
	color: #000000;
	}

.CalendarSelectedDayPine1 a:visited{
	color: #000000;
	}

.CalendarSelectedDayPine1 a:hover, .CalendarSelectedDayPine1 a:active{
	color: #ff0000;
	}

/* Calendar Navigator */
.CalendarNavigatorPine1 {
	font-family: Arial; font-size: 80%;
	padding: 4px;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}



/*ie6*/
* html body .CalendarNavigatorPine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarNavigatorPine1 a:link {
	color: #0033cc;
	}

.CalendarNavigatorPine1 a:visited{
	color: #840084;
	}

.CalendarNavigatorPine1 a:hover, .CalendarNavigatorPine1 a:active{
	color: #ff0000;
	}

.CalendarNavigatorPine1 img{
	margin: 2px;
	vertical-align: middle; 	
	}

.CalendarNavigatorPine1 td {
	font-family: Arial; font-size: 80%;
	}

.CalendarNavigatorPine1 th {
	font-family: Arial; font-size: 80%;
	}



/*ie6*/
* html body .CalendarNavigatorPine1 th, * html body .CalendarNavigatorPine1 td {
	font-family: Arial; font-size: 100%;
}
/*end*/

/* Calendar Extra */
.CalendarEventPine1{
	font-family: Arial; font-size: 80%;
	text-align: left;
	}



/*ie6*/
* html body .CalendarEventPine1 {
	font-family: Arial; font-size: 100%;
}
/*end*/

.CalendarEventPine1 a:link {
	color: #0033cc;
	}

.CalendarEventPine1 a:visited{
	color: #840084;
	}

.CalendarEventPine1 a:hover, .CalendarEventPine1 a:active{
	color: #ff0000;
	}

/* Changes for Section508 */
table tr td strong {
	padding: 0px;
	margin: 0px;
}

.thPine1 { 
	font-family: Arial; font-size: 80%;
	font-weight: bold;
}



/*ie6*/
* html body .thPine1 {
	font-size: 100%;
}
/*end*/

.HeaderPine1 .thPine1 { 
	font-family: Arial; font-size: 110%; font-weight: bold; text-align: left;
	padding: 4px;
	background-image: url('Images/HeaderBg.gif'); color: #ffffff;
	width: 100%;
	white-space: nowrap;
}



/*ie6*/
* html body .HeaderPine1 .thPine1 {
	font-family: Arial; font-size: 140%; font-weight: bold; text-align: left;
}
/*end*/

.CaptionPine1 .thPine1 { 
	font-family: Arial; font-size: 80%; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
}



/*ie6*/
* html body .CaptionPine1 .thPine1 {
	font-family: Arial; font-size: 100%; text-align: left; vertical-align: top;
}
/*end*/

.RowPine1 .thPine1 { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.AltRowPine1 .thPine1 { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.ControlsPine1 .thPine1 { 
	font-family: Arial; font-size: 80%; font-weight: normal; text-align: left; vertical-align: top;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	background-color: #f7f7f7; color: #000000;
	white-space: nowrap;
	color: #000000;
}

.GroupCaptionPine1 .thPine1 {
	font-family: Arial; font-size: 80%;
	padding: 4px;
	border-top: 1px solid #3c964b; border-right: 1px solid #3c964b;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	font-weight: bold;
	background-color: #ebebeb; 
	color: #000000;
}



/*ie6*/
* html body .GroupCaptionPine1 .thPine1 {
	font-family: Arial; font-size: 100%;
}

* html body .RowPine1 .thPine1, * html body .AltRowPine1 .thPine1, * html body .ControlsPine1 .thPine1 {
	font-family: Arial; font-size: 100%; font-weight: normal; text-align: left; vertical-align: top;
}
/*end*/

/* Class for Application Builder Menu */
.simpleMenuPine1 td {
	font-family: Arial; font-size: 80%;
}



/*ie6*/
* html body .simpleMenuPine1 td {
	font-family: Arial; font-size: 100%;
} 
/*end*/

.SorterPine1 img, .NavigatorPine1 img {
	border:0;
}

.MainTable .HeaderPine1 img, .MainTable .HeaderPine1 td {
	padding-left: 0;padding-right: 0;margin:0;
}